.faq {
  &__inner {
    @include flex-between-center-gap(60);
    align-items: flex-start;
    @media (max-width: 860px) {
      gap: 50px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    max-width: 700px;
  }

  &__title {
    max-width: 650px;
    margin-bottom: 60px;
    @media (max-width: 1300px) {
      font-size: 60px;
    }
    @include r($desktop) {
      font-size: 56px;
      max-width: 550px;
    }
    @media (max-width: 1100px) {
      font-size: 52px;
    }
    @include r($lg) {
      font-size: 48px;
    }
    @media (max-width: 920px) {
      font-size: 46px;
    }
    @media (max-width: 860px) {
      text-align: center;
      max-width: 100%;
    }
    @include r($tablet) {
      font-size: 42px;
    }
    @include r($phone) {
      font-size: 40px;
    }
    @media (max-width: 395px) {
      font-size: 38px;
    }
    @media (max-width: 360px) {
      font-size: 37px;
    }
  }

  &__list {
    @include flex-column(32);
    max-width: 700px;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    padding: 0 0 30px;
    border-bottom: 1px solid #EAECF0;
    @include r($lg) {
      padding-bottom: 24px;
    }
    @include r($sm) {
      padding-bottom: 18px;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    transition: max-height 0.4s ease-out, opacity 0.6s ease-out, margin .4s;
    opacity: 0;

    &--active {
      max-height: 1000px;
      margin-top: 14px;
      opacity: 1;
      user-select: auto;
      pointer-events: auto;
    }
  }

  &__head {
    @include flex-align-center(20);
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    @include r($sm) {
      gap: 14px;
    }

    &:hover {
      color: #0c8c74;
    }
  }

  &__name {
    font-family: $garamond;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    max-width: 87%;
    transition: color .4s;
    @include r($sm) {
      font-size: 22px;
      max-width: 85%;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    max-width: 90%;
    color: #8c8c8c;

    @media (max-width: 800px) {
      max-width: 100%;
      padding-right: 50px;
    }
    @include r($sm) {
      font-size: 16px;
    }
    @media (max-width: 540px) {
      padding-right: 40px;
    }
    @include r($phone) {
      font-size: 14px;
    }
  }

  &__btn {
    flex: 0 1 auto;
    width: 33px;
    height: 33px;
    border: 1px solid #298574;
    border-radius: 50%;
    position: relative;
    transition: border .4s;

    &:focus {
      border-color: $teal-green;
    }

    &.open {
      &::after {
        opacity: 0;
      }
    }

    &::before, &::after {
      @include pseudo;
      display: block;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 2px;
      background: #298574;
      opacity: 1;
      box-shadow: none;
      transition: opacity .4s, background-color .4s;
    }

    &::before {
      @include topLeft50;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__markers {
    @include flex-column(10);

    li {
      @include flex-align-center(10);

      &::before {
        content: "";
        width: 7px;
        height: 7px;
        background-color: #0c8c74;
        border-radius: 50%;
      }
    }
  }

  &__contacts {
    text-align: right;
    max-width: 400px;
    width: 100%;
    @include r($lg) {
      max-width: 350px;
    }

    &-items {
      @include flex-column(14);
    }

    &-item {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      border-radius: 19px;
      background-color: rgba(#00241F, .07);

      a.pdf {
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 2px 3px;
        transition: border .4s;

        &:hover {
          .faq__label {
            color: #FB3449;
          }
        }

        &:focus {
          border-color: #FB3449;

          .faq__label {
            color: $midnight-blue;
          }
        }
      }
    }
  }

  &__label {
    @include flex-align-center(10);
    color: rgba($midnight-blue, .6);
    font-size: 20px;
    font-weight: 500;
    transition: color .4s;
    @include r($lg) {
      font-size: 18px;
    }
    @include r($phone) {
      font-size: 17px;
    }

    svg {
      width: 22px;
    }
  }

  &__link {
    font-family: $garamond;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 1px 2px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: color .4s, border .4s;
    @include r($phone) {
      font-size: 24px;
    }
    @media (max-width: 370px) {
      font-size: 23px;
    }

    &:hover {
      color: #0c8c74;
    }

    &:focus {
      border-color: #0c8c74;
    }
  }

  &__socials {
    @include flex-align-center(10);

    a {
      border: 1px solid transparent;
      opacity: 1;
      width: 48px;
      height: 48px;
      padding: 7px;
      border-radius: 50%;
      background-color: #0c8c74;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color .4s, opacity .4s, border .4s, background-color .4s;

      &:hover {
        background-color: #0eb293;
      }

      &:focus {
        background-color: transparent;
        border-color: #0c8c74;

        svg path {
          fill: #0c8c74;
        }
      }

      &.telegram {
        background-color: #2aabee;

        svg {
          transform: translateX(-2px);
        }

        &:hover {
          background-color: #2082b4;
        }

        &:focus {
          border-color: #2aabee;
          background-color: transparent;

          svg path {
            fill: #2aabee;
          }
        }
      }
    }
  }
}