.jury {
  &__top {
    @include flex-column(30);
    margin-bottom: 64px;
    @include r($lg) {
      margin-bottom: 50px;
    }
    @media (max-width: 515px) {
      margin-bottom: 40px;
    }
  }

  &__navigation {
    @include flex-align-center(8);
    @media (max-width: 515px) {
      display: none;
    }

    &.none {
      display: none;
      @include r($lg) {
        display: flex;
      }
    }
  }

  &__btn {
    @include flex-center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    background-color: #eeeeee;
    transition: all .4s;

    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $deep-purple;
    }

    &:focus {
      background-color: transparent;
      border-color: $teal-green50;
    }
  }

  &__item {
    @include flex-column(0);
    text-align: center;
    align-items: center;
    min-height: 100%;
    background-color: $light-gray;
    padding: 56px 16px 19px 16px;
    border-radius: 16px 16px 52px 52px;
    @media (max-width: 1300px) {
      padding-bottom: 30px;
    }
    @media (max-width: 1100px) {
      padding: 46px 15px 16px 15px;
    }
    @media (max-width: 880px) {
      padding: 36px 15px 16px 15px;
    }
    @include r($sm) {
      padding-bottom: 20px;
    }
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;
    margin-bottom: 72px;
    user-select: none;
    @media (max-width: 1100px) {
      width: 180px;
      height: 180px;
    }
    @media (max-width: 880px) {
      width: 170px;
      height: 170px;
    }
    @include r($tablet) {
      width: 160px;
      height: 160px;
      margin-bottom: 60px;
    }
    @include r($sm) {
      width: 150px;
      height: 150px;
    }

    &.top {
      object-position: top;
    }

    &.left {
      object-position: left;
    }
  }

  &__name {
    font-family: $garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: -1.2px;
    margin-bottom: 24px;
    @media (max-width: 1300px) {
      font-size: 36px;
    }
    @media (max-width: 900px) {
      font-size: 34px;
    }
    @include r($tablet) {
      font-size: 32px;
    }
    @include r($sm) {
      font-size: 30px;
    }
    @media (max-width: 515px) {
      font-size: 34px;
    }
  }

  &__link {
    position: relative;
    padding: 24px;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    border-radius: 60px;
    background-color: $white;
    border: 1px solid transparent;
    color: $deep-forest-green;
    transition: background-color .4s, color .4s, border .4s;
    @include r($phone) {
      font-size: 14px;
    }

    &::before {
      @include pseudo;
      @include topLeft50;
      width: 104%;
      height: 113%;
      background-color: rgba($deep-purple, .15);
      border: 1px solid $teal-green;
      border-radius: 64px;
      opacity: 0;
      transition: background-color .4s, opacity .4s;
    }

    &:hover {
      border-color: $teal-green;
      background-color: transparent;
    }

    &:focus {
      background-color: $teal-green;
      border-color: $teal-green;
      color: $white;

      &::before {
        opacity: 0;
      }
    }
  }

  &__description {
    color: rgba($midnight-blue, .4);
    letter-spacing: -0.16px;
    margin-bottom: 25px;
  }

  .swiper {
    overflow: visible !important;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    height: auto !important;

    @media (max-width: 515px) {
      max-width: 340px;
      width: 100%;
    }
    @include r($phone) {
      max-width: 310px;
    }
    @media (max-width: 415px) {
      max-width: 300px;
    }
    @media (max-width: 375px) {
      max-width: 290px;
    }
    @media (max-width: 365px) {
      max-width: 280px;
    }
  }

  &__text {
    @include flex-column(30);
    font-size: 20px;
    text-align: center;
    max-width: 890px;
    margin: -15px auto 30px;
    @include r($tablet) {
      font-size: 18px;
      max-width: 690px;
    }
    @include r($phone) {
      font-size: 16px;
    }

    br {
      @include r($lg) {
        display: none;
      }
    }
  }
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  transition: outline .4s;
  outline: 1px solid transparent;
  border-radius: 10px;

  &:hover {
    color: $teal-green;

    &::before {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:focus {
    outline-color: $teal-green;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    width: 45%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: currentColor;
    border-radius: 4px;
    transition: transform .4s;
    will-change: transform;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}