.jury {
  &__top {
    @include flex-between(30);
    align-items: center;
    margin-bottom: 64px;
    @include r($lg) {
      margin-bottom: 50px;
    }
    @media (max-width: 515px) {
      margin-bottom: 40px;
    }
  }

  &__navigation {
    @include flex-align-center(8);
    @media (max-width: 515px) {
      display: none;
    }
  }

  &__btn {
    @include flex-center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    background-color: #eeeeee;
    transition: all .4s;

    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $deep-purple;
    }

    &:focus {
      background-color: transparent;
      border-color: $teal-green50;
    }
  }

  &__item {
    @include flex-column(0);
    text-align: center;
    align-items: center;
    min-height: 100%;
    background-color: $light-gray;
    padding: 56px 16px 46px 16px;
    border-radius: 16px 16px 52px 52px;
    @media (max-width: 1100px) {
      padding: 46px 15px 60px 15px;
    }
    @media (max-width: 880px) {
      padding: 36px 15px 50px 15px;
    }
    @include r($sm) {
      padding-bottom: 40px;
    }
  }

  &__avatar {
    @include objectCoverBg;
    border-radius: 50%;
    margin-bottom: 72px;
    user-select: none;
    @media (max-width: 1100px) {
      width: 180px;
      height: 180px;
    }
    @media (max-width: 880px) {
      width: 170px;
      height: 170px;
    }
    @include r($tablet) {
      width: 160px;
      height: 160px;
      margin-bottom: 60px;
    }
    @include r($sm) {
      width: 150px;
      height: 150px;
    }
  }

  &__name {
    font-family: $garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: -1.2px;
    margin-bottom: 24px;
    @media (max-width: 1300px) {
      font-size: 36px;
    }
    @include r($lg) {
      font-size: 32px;
    }
    @media (max-width: 900px) {
      font-size: 30px;
    }
    @include r($tablet) {
      font-size: 28px;
    }
    @include r($sm) {
      font-size: 26px;
    }
  }

  &__description {
    color: rgba($midnight-blue, .4);
    letter-spacing: -0.16px;
  }

  .swiper {
    overflow: visible !important;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    height: auto !important;

    @media (max-width: 515px) {
      max-width: 340px;
      width: 100%;
    }
    @include r($phone) {
      max-width: 310px;
    }
    @media (max-width: 415px) {
      max-width: 300px;
    }
    @media (max-width: 375px) {
      max-width: 290px;
    }
    @media (max-width: 365px) {
      max-width: 280px;
    }
  }
}