.participation {
  &__title {
    text-align: center;
    max-width: 625px;
    margin: 0 auto 56px;
    @media (max-width: 680px) {
      margin-bottom: 44px;
    }
    @include r($phone) {
      margin-bottom: 40px;
    }
  }

  &__form {
    @include flex-column(32);
    max-width: 474px;
    margin: 0 auto;
    @include r($phone) {
      gap: 35px;
    }
  }

  &__block {
    @include flex-column(16);
    @include r($phone) {
      gap: 12px;
    }
  }

  &__label {
    letter-spacing: -0.16px;

    span {
      color: rgba($deep-forest-green, .4);
      font-style: italic;
    }
  }

  &__fields {
    @include flex-align-center(8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include r($phone) {
      grid-template-columns: repeat(1, 1fr);
    }

    &.long {
      grid-column: span 2;
      @include r($phone) {
        grid-column: span 1;
      }

      .input {
        grid-column: span 2;
        @include r($phone) {
          grid-column: span 1;
        }
      }
    }

    .choices {
      grid-column: span 2;

      &[data-type*=select-one]::after {
        transition: all .2s;
        right: 20px;
      }

      &__inner {
        padding: 20px 24px !important;
        background-color: $light-gray;
        letter-spacing: -0.14px;
        border: 1px solid transparent;
        font-size: 14px;
        border-radius: 112px;
        font-weight: 400;
        transition: all .4s;
      }

      &__list--single {
        padding: 0;
        display: flex;
      }
    }

    .is-open .choices__inner {
      border-radius: 112px;
    }

    .is-flipped.is-open .choices__inner {
      border-radius: 112px;
    }

    .choices__list--dropdown, .choices__list[aria-expanded] {
      top: 120%;
      border-radius: 8px;
      transition: all .4s;
    }

    .is-flipped .choices__list--dropdown, .is-flipped .choices__list[aria-expanded] {
      bottom: 120%;
      border-radius: 8px;
      transition: all .4s;
    }
  }

  &__load {
    @include flex-column(16);
    position: relative;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 112px;
    padding: 29px 20px;
    font-weight: 400;
    border: 1px dashed rgba(3, 31, 3, 0.10);
    transition: border .4s, background-color .4s;
    background-color: $light-gray;
    @media (max-width: 515px) {
      border-radius: 55px;
    }
    @include r($phone) {
      border-radius: 40px;
    }
    @media (max-width: 395px) {
      border-radius: 16px;
      padding: 28px 15px;
    }

    &:hover {
      border-color: rgba(3, 31, 3, 0.40);
    }

    &:focus {
      background-color: rgba($teal-green50, .14);
    }

    &.error-load {
      border-color: $red;
      color: inherit;
      background-color: $light-gray;

      &:focus {
        background-color: rgba($red, .04);
      }

      .participation__size {
        color: $red;
      }
    }

    &.loading {
      border-color: #5EAC00;

      &:focus {
        background-color: rgba(#5EAC00, .08);
      }
    }
  }

  &__svg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    @media (max-width: 515px) {
      width: 100%;
    }
  }

  &__info {
    @include flex-column(4);
  }

  &__text {
    font-size: 14px;
    letter-spacing: -0.14px;
  }

  &__file {
    @include flex-align-center(4);
    justify-content: center;
  }

  &__size {
    font-size: 12px;
    letter-spacing: -0.12px;
    color: $sage-green;
    transition: color .4s;
  }

  &__file-load {
    font-size: 12px;
    @include flex-align-center(4);
    color: #5EAC00;
    position: relative;

    &::before {
      content: "";
      display: flex;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba($sage-green, .2);
    }
  }

  &__btn {
    @include flex-align-center(12);
    justify-content: center;
    margin: 0 auto;
    max-width: 466px;
    width: 100%;
    padding: 25px 40px;
    color: $deep-forest-green;
    background-color: $deep-purple;
    border-radius: 72px;
    border: 1px solid transparent;
    transition: all .5s;
    position: relative;
    box-shadow: 0 0 24px 0 rgba(25, 247, 207, 0.25);
    @include r($phone) {
      padding: 20px 37px;
      font-size: 14px;
      margin-top: -10px;
    }
    @media (max-width: 395px) {
      padding: 19px;
    }

    &:hover {
      box-shadow: 0 0 34px 0 rgba(25, 247, 207, 0.4);
    }

    &:focus {
      box-shadow: 0 0 0 0 rgba(25, 247, 207, 0.55);
      background-color: transparent;
      border-color: $teal-green;

      &::before {
        opacity: 0;
      }
    }

    &:disabled {
      opacity: .7;
      pointer-events: none;
    }

    &::before {
      @include pseudo;
      @include topLeft50;
      width: 103%;
      height: 116%;
      background-color: rgba($deep-purple, .15);
      border: 1px solid $teal-green;
      border-radius: 64px;
      transition: all .4s;
    }
  }
}

.circular-loader {
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  width: 24px;
  height: 24px;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes color {
  0% {
    stroke: $deep-forest-green;
  }
  40% {
    stroke: $deep-forest-green;
  }
  66% {
    stroke: $deep-forest-green;
  }
  80%, 90% {
    stroke: $deep-forest-green;
  }
}

@keyframes color {
  0% {
    stroke: $deep-forest-green;
  }
  40% {
    stroke: $deep-forest-green;
  }
  66% {
    stroke: $deep-forest-green;
  }
  80%, 90% {
    stroke: $deep-forest-green;
  }
}