.price {
  border-radius: 56px;
  padding: 48px 0;
  background: radial-gradient(96.63% 65.62% at 49.27% 59.17%, #01342B 0%, #02110F 85.8%);
  max-width: 100%;
  width: 100%;
  margin: 136px auto 0;
  @include r($desktop) {
    margin-top: 120px;
  }
  @media (max-width: 1100px) {
    border-radius: 46px;
  }
  @include r($lg) {
    border-radius: 40px;
  }
  @media (max-width: 840px) {
    margin-top: 100px;
  }
  @include r($tablet) {
    border-radius: 34px;
    padding: 40px 0;
  }
  @media (max-width: 680px) {
    margin-top: 90px;
  }
  @include r($phone) {
    padding: 30px 0;
  }

  &__title {
    max-width: 770px;
    line-height: 0.95;
    margin: 0 auto 32px;
    text-align: center;
    color: $white;
    @include r($lg) {
      max-width: 700px;
    }
    @include r($tablet) {
      max-width: 600px;
    }
    @include r($sm) {
      max-width: 540px;
    }
    @include r($phone) {
      max-width: 370px;
      font-size: 40px;
    }
    @media (max-width: 410px) {
      max-width: 310px;
      font-size: 38px;
    }
  }

  &__description {
    font-size: 15px;
    max-width: 570px;
    text-align: center;
    letter-spacing: -0.14px;
    margin: 0 auto 56px;
    color: rgba($white, .56);
    @include r($sm) {
      margin-bottom: 40px;
    }
  }

  &__cost {
    @include flex-align-center(14);
    align-items: flex-end;
    padding: 24px 32px;
    max-width: max-content;
    margin: 0 auto 24px;
    border-radius: 42px;
    background-color: rgba($deep-purple, .04);
    @include r($tablet) {
      border-radius: 36px;
    }
    @include r($sm) {
      border-radius: 30px;
    }
    @media (max-width: 520px) {
      border-radius: 26px;
    }
    @include r($phone) {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      padding: 20px 22px;
    }
    @media (max-width: 390px) {
      padding: 18px 20px;
    }
  }

  &__value {
    font-family: $garamond;
    color: $deep-purple;
    font-size: 208px;
    font-weight: 400;
    display: flex;
    line-height: 78%;
    letter-spacing: -10.48px;
    font-style: italic;
    @include r($desktop) {
      font-size: 200px;
      letter-spacing: -9px;
    }
    @include r($lg) {
      font-size: 180px;
    }
    @media (max-width: 880px) {
      font-size: 170px;
      letter-spacing: -8px;
    }
    @include r($tablet) {
      font-size: 160px;
    }
    @media (max-width: 660px) {
      font-size: 148px;
    }
    @include r($sm) {
      font-size: 130px;
    }
    @media (max-width: 570px) {
      font-size: 120px;
    }
    @media (max-width: 510px) {
      font-size: 114px;
    }
    @include r($phone) {
      letter-spacing: -5px;
    }
    @media (max-width: 390px) {
      font-size: 108px;
      letter-spacing: -4px;
    }
    @media (max-width: 360px) {
      font-size: 100px;
    }

    &.old {
      font-size: 120px;
      margin-right: 25px;
      position: relative;
      color: rgba($deep-purple, .6);
      @include r($lg) {
        font-size: 114px;
      }
      @media (max-width: 860px) {
        font-size: 110px;
      }
      @include r($tablet) {
        font-size: 104px;
      }
      @media (max-width: 660px) {
        font-size: 98px;
      }
      @include r($sm) {
        font-size: 92px;
      }
      @media (max-width: 570px) {
        font-size: 86px;
        letter-spacing: -5px;
        margin-right: 17px;
      }
      @media (max-width: 510px) {
        font-size: 82px;
      }
      @media (max-width: 500px) {
        margin-right: 5px;
        font-size: 76px;
      }
      @include r($phone) {
        font-size: 70px;
        margin-right: 0;
      }
      @media (max-width: 390px) {
        font-size: 66px;
        letter-spacing: -2px;
      }
      @media (max-width: 360px) {

      }

      &::before {
        @include pseudo;
        top: 30%;
        left: 54%;
        transform: rotate(-16deg) translate(-50%, -50%);
        width: 120%;
        height: 2px;
        background-color: $light-gray;
      }
    }
  }

  &__currency {
    font-family: $garamond;
    line-height: 78%;
    display: flex;
    letter-spacing: -1.92px;
    font-size: 64px;
    margin-bottom: 10px;
    color: rgba($deep-purple, .5);
    @include r($desktop) {
      font-size: 60px;
    }
    @media (max-width: 715px) {
      font-size: 54px;
    }
    @include r($sm) {
      font-size: 50px;
    }
    @media (max-width: 515px) {
      font-size: 44px;
    }
    @include r($sm) {
      font-size: 40px;
      letter-spacing: -1px;
    }
    @media (max-width: 560px) {
      font-size: 36px;
      letter-spacing: 0;
    }
    @media (max-width: 390px) {
      font-size: 37px;
      margin-bottom: 8px;
    }
    @media (max-width: 380px) {
      font-size: 34px;
    }
  }

  &__btn {
    display: flex;
    max-width: max-content;
    margin: 0 auto 60px;
    padding: 24px 40px;
    color: $deep-forest-green;
    background-color: $deep-purple;
    border-radius: 72px;
    border: 1px solid transparent;
    transition: background-color .4s, color .4s, border .4s, box-shadow .5s;
    position: relative;
    box-shadow: 0 0 24px 0 rgba(25, 247, 207, 0.25);
    @include r($phone) {
      font-size: 14px;
    }

    &:hover {
      box-shadow: 0 0 34px 0 rgba(25, 247, 207, 0.4);
    }

    &:focus {
      box-shadow: 0 0 0 0 rgba(25, 247, 207, 0.55);
      background-color: transparent;
      color: $white;
      border-color: $deep-purple;

      &::before {
        opacity: 0;
      }
    }

    &::before {
      @include pseudo;
      @include topLeft50;
      width: 105%;
      height: 114%;
      background-color: rgba($deep-purple, .15);
      border: 1px solid $teal-green;
      border-radius: 64px;
      transition: background-color .4s, opacity .4s;
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;
    color: rgba($white, .4);
    @include r($lg) {
      font-size: 18px;
    }
    @media (max-width: 930px) {
      max-width: 520px;
    }
    @include r($sm) {
      font-size: 16px;
    }
  }

  &__logos {
    @include flex-between(20);
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 40px 0;
    @media (max-width: 1050px) {
      max-width: 700px;
      grid-gap: 35px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
    }
    @include r($lg) {
      padding: 35px 0 0;
    }
    @media (max-width: 670px) {
      grid-gap: 35px 10px;
    }
    @media (max-width: 580px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include r($phone) {
      margin: 0 -10px;
    }

    li {
      @include flex-center;
      @media (max-width: 880px) {
        @include flex-column(0);
        align-items: center;
      }

      &.center {
        grid-column: span 3;
        @media (max-width: 580px) {
          grid-column: span 2;
        }
      }
    }
  }

  &__link {
    transition: filter .4s, opacity .4s;

    &:hover {
      filter: grayscale(100%);
    }

    &:focus {
      opacity: .7;
      filter: grayscale(0%);
    }

    &.outline {
      display: flex;
      border-radius: 8px;
      padding: 3px;
      transition: filter .4s, opacity .4s, outline .4s;
      outline: 2px solid transparent;

      &:focus {
        outline-color: $teal-green;
        opacity: 1;
      }

      @include r($phone) {
        width: auto;
        height: 56px;
      }
    }

    & > .circle {
      @include objectCoverBg;
      border-radius: 50%;
      @include r($sm) {
        width: 102px;
        height: 102px;
      }
    }
  }
}