.prizes {
  &__top {
    @include flex-between(30);
    align-items: center;
    margin-bottom: 54px;
    @media (max-width: 515px) {
      margin-bottom: 40px;
    }
  }

  &__navigation {
    @include flex-align-center(8);
    margin-bottom: 25px;
    @media (max-width: 555px) {
      display: none;
    }
  }

  &__btn {
    @include flex-center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    background-color: #eeeeee;
    transition: all .4s;

    &.swiper-button-disabled {
      opacity: .4;
      pointer-events: none;
      user-select: none;
    }

    &:hover {
      background-color: $deep-purple;
    }

    &:focus {
      background-color: transparent;
      border-color: $teal-green50;
    }
  }

  &__item {
    @include flex-column(0);
    text-align: center;
    align-items: center;
    background-color: $light-gray;
    padding: 56px 16px 16px 16px;
    overflow: hidden;
    border-radius: 16px 16px 52px 52px;
    box-shadow: 0 0 0 0 #CDDECD;
    transition: background .4s ease-in-out, box-shadow .4s ease-in-out;
    @media (max-width: 1100px) {
      padding: 46px 15px 16px 15px;
    }
    @include r($lg) {
      padding: 36px 15px 16px 15px;
    }
    @media (max-width: 890px) {
      padding: 32px 15px 14px 15px;
    }

    &::before {
      @include pseudo;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 16px 16px 52px 52px;
      transition: opacity .4s ease-in-out;
      background: radial-gradient(96.63% 65.62% at 49.27% 59.17%, #01342B 0%, #02110F 85.8%);
    }

    &:hover {
      color: $white;
      box-shadow: 0 8px 32px 0 #CDDECD;

      &::before {
        opacity: 1;
      }

      .prizes__avatar::before {
        opacity: 1;
      }

      .prizes__name {
        opacity: 0;
        @include r($lg) {
          opacity: 1;
        }
      }

      .prizes__value {
        opacity: 1;
      }

      .prizes__link {
        background-color: $deep-purple;

        &::before {
          opacity: 1;
        }

        &:hover {
          background-color: $white;

          &::before {
            opacity: 0;
          }
        }

        &:focus {
          background-color: transparent;
          border-color: $teal-green;
          color: $white;

          &::before {
            opacity: 0;
          }
        }
      }
    }
  }

  &__avatar {
    margin-bottom: 72px;
    position: relative;
    z-index: 2;
    @include r($sm) {
      margin-bottom: 60px;
    }
    @include r($phone) {
      margin-bottom: 50px;
    }

    &::before {
      @include pseudo;
      @include topLeft50;
      border-radius: 50%;
      border: 1px solid $teal-green50;
      width: 208px;
      height: 208px;
      opacity: 0;
      transition: opacity .4s;
      @include r($lg) {
        width: 192px;
        height: 192px;
      }
      @media (max-width: 890px) {
        width: 178px;
        height: 178px;
      }
      @include r($sm) {
        width: 170px;
        height: 170px;
      }
      @media (max-width: 385px) {
        width: 160px;
        height: 160px;
      }
    }
  }

  &__img {
    @include objectCoverBg;
    user-select: none;
    border-radius: 50%;
    @include r($desktop) {
      width: 184px;
      height: 184px;
    }
    @include r($lg) {
      width: 170px;
      height: 170px;
    }
    @media (max-width: 890px) {
      width: 160px;
      height: 160px;
    }
    @include r($sm) {
      width: 152px;
      height: 152px;
    }
    @media (max-width: 385px) {
      width: 144px;
      height: 144px;
    }
  }

  &__content {
    @include flex-column(32);
    width: 100%;
    position: relative;
    z-index: 2;
    @media (max-width: 890px) {
      gap: 26px;
    }
  }

  &__name, &__value {
    font-family: $garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1.2px;
    @include r($desktop) {
      font-size: 36px;
    }
    @media (max-width: 890px) {
      font-size: 32px;
    }
    @media (max-width: 505px) {
      font-size: 30px;
    }

    span {
      display: block;
      font-style: italic;
      font-weight: 400;
    }
  }

  &__name {
    transition: color .4s ease-in-out, opacity .4s;
    @include r($lg) {
      padding-bottom: 32px;
      border-bottom: 1px solid $teal-green50;
    }
    @media (max-width: 890px) {
      padding-bottom: 26px;
    }
  }

  &__value {
    color: $white;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .4s, color .4s;
    @include r($lg) {
      position: static;
      opacity: 1;
      color: inherit;
      font-size: 30px;
    }
    @media (max-width: 890px) {
      font-size: 26px;
    }
  }

  &__link {
    position: relative;
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 60px;
    background-color: $white;
    border: 1px solid transparent;
    color: $deep-forest-green;
    transition: background-color .4s, color .4s, border .4s;
    @include r($phone) {
      font-size: 14px;
    }

    &::before {
      @include pseudo;
      @include topLeft50;
      width: 104%;
      height: 113%;
      background-color: rgba($deep-purple, .15);
      border: 1px solid $teal-green;
      border-radius: 64px;
      opacity: 0;
      transition: background-color .4s, opacity .4s;
    }

    &:focus {
      background-color: $teal-green;
      border-color: $teal-green;
      color: $white;

      &::before {
        opacity: 0;
      }
    }
  }

  .swiper {
    overflow: visible !important;

    &-wrapper {
      box-sizing: border-box !important;
    }
  }

  .swiper-wrapper {
    @media (max-width: 555px) {
      box-sizing: border-box !important;
    }
  }

  .swiper-slide {
    @media (max-width: 555px) {
      max-width: 380px;
    }
    @media (max-width: 505px) {
      max-width: 350px;
    }
    @include r($phone) {
      max-width: 330px;
    }
    @media (max-width: 415px) {
      max-width: 310px;
    }
    @media (max-width: 395px) {
      max-width: 300px;
    }
    @media (max-width: 385px) {
      max-width: 280px;
    }
  }
}