.footer {
  margin-top: 76px;

  &__inner {
    @include flex-between-center-gap(30);
    border-top: 1px solid rgba($charcoal-gray, .12);
    padding: 12px 0;
    font-size: 14px;
    @media (max-width: 1060px) {
      flex-wrap: wrap;
      gap: 10px 20px;
    }
    @include r($tablet) {
      gap: 25px;
      padding: 17px 0;
      justify-content: center;
      flex-direction: column;
    }
    @include r($sm) {
      padding: 17px 0 14px;
    }
  }

  &__nav, &__right {
    max-width: 365px;
    width: 100%;
    @media (max-width: 1060px) {
      max-width: max-content;
    }
  }

  &__nav {
    @media (max-width: 1060px) {
      max-width: 55%;
    }
    @include r($tablet) {
      max-width: max-content;
    }
  }

  &__list {
    @include flex-align-center(16);
    @include r($sm) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 14px 23px;
    }
    @include r($phone) {
      max-width: 270px;
    }
  }

  &__link, &__top {
    color: rgba($midnight-blue, .5);
    transition: color .4s;
    position: relative;

    &:hover {
      color: $midnight-blue;

      &::before {
        width: 100%;
      }
    }

    &:focus {
      color: $teal-green;

      &::before {
        width: 100%;
        background-color: $teal-green;
      }
    }

    &::before {
      @include pseudo;
      width: 0;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: $midnight-blue;
      transition: width .4s, background-color .4s;
    }
  }

  &__link {
    @include r($sm) {
      font-size: 16px;
    }
  }

  &__top {
    color: $midnight-blue;
  }

  &__right {
    @include flex-align-center(16);
    justify-content: flex-end;
    @include r($tablet) {
      position: relative;
    }
  }

  img {
    @media (max-width: 1060px) {
      order: 2;
    }
    @include r($tablet) {
      order: -1;
    }
  }

  &__bottom {
    display: flex;
    gap: 23px;
    margin-top: 10px;
    font-size: 12px;
    @media (max-width: 900px) {
      flex-direction: column;
      gap: 8px;
    }

    align-items: flex-start;
    opacity: .6;
  }

  &__address {
    max-width: 310px;
    @media (max-width: 900px) {
      max-width: 100%;
    }
  }

  &__phone {
    transition: color .4s;
    margin-left: auto;
    @media (max-width: 900px) {
      margin-left: 0;
    }

    &:hover {
      color: $teal-green;
    }
  }

  &__konkurs {
    display: inline-block;
    font-size: 12px;
    padding-bottom: 8px;
  }
}