.tooltip, .header__contact {
  @include flex-align-center(8);
  background-color: rgba($deep-purple, .12);
  color: $white;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: -0.14px;
  border: 1px solid transparent;
  transition: background-color .4s, border .4s, color .4s;

  &.mobile {
    @include r($phone) {
      display: flex;
      margin-bottom: 20px;
    }
  }

  &:hover {
    background-color: $teal-green50;
  }

  &:focus {
    background-color: transparent;
    border-color: $teal-green;
  }

  &--footer {
    background-color: rgba($midnight-blue, .08);
    color: inherit;

    &:hover {
      background-color: $teal-green;
      color: $white;

      svg path {
        fill: $white;
      }
    }

    &:focus {
      background-color: transparent;
      border-color: $teal-green;
      color: $teal-green;

      svg path {
        fill: $teal-green;
      }
    }
  }

  &--contacts {
    svg {
      width: 17px;
      height: 17px;
    }
  }

  &__copy {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    font-size: 12px;
    padding: 3px 8px;
    max-width: max-content;
    color: $white;
    border-radius: 26px;
    background-color: $teal-green50;
    transition: opacity .4s;

    &.header {
      right: 17px;
      top: 60px;
      @media (max-width: 840px) {
        top: 52px;
      }
      @include r($phone) {
        right: 20px;
      }
    }

    &.footer {
      top: -88px;
      right: 58px;
      @media (max-width: 1100px) {
        right: 50px;
      }
      @include r($lg) {
        right: 45px;
      }
      @media (max-width: 870px) {
        right: 40px;
      }
      @include r($tablet) {
        right: 21px;
      }
    }

    &.active {
      opacity: 1;
    }
  }
}