<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img class="logo" src="images/logo.svg" width="64" height="24" alt="логотип">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link active desktop" id="a1" href="#home">Main</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" id="a2" href="#about">What is Duck?</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" id="a3" href="#roadmap">Roadmap</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" id="a4" href="#duckonomics">Duckonomics</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" id="a5" href="#explore-apps">Apps and Services</a>
          </li>
          <li class="header__item">
            <a class="header__link desktop" id="a6" href="#community">Community</a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <a class="header__btn btn gray" href="https://dedust.io/swap/ton/duck" target="_blank">
          Buy token
        </a>
      </div>
      <button class="menu-btn menu-btn--header" type="button">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Interact with the menu</span>
      </button>
    </div>
  </div>
  <div class="header__mobile">
    <nav class="header__nav mobile">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link active mobile" id="a1" href="#home">Main</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" id="a2" href="#about">What is Duck?</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" id="a3" href="#roadmap">Roadmap</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" id="a4" href="#duckonomics">Duckonomics</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" id="a5" href="#explore-apps">Apps and Services</a>
        </li>
        <li class="header__item">
          <a class="header__link mobile" id="a6" href="#community">Community</a>
        </li>
      </ul>
    </nav>
  </div>
</header>