<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Описание сайта">
  <meta http-equiv="content-type" content="public, max-age=3600">
  <meta name="theme-color" content="#fff"/>
  <title>@title</title>
  <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body class="body">